<a href="https://colab.research.google.com/github/youhanseo191919/Python/blob/master/csv_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
path='/content/sample_data/'

In [2]:
import pandas as pd
df=pd.read_csv(path)

NameError: ignored

In [3]:
df

NameError: ignored

In [8]:
df.head(10)

NameError: ignored

In [6]:
df.info()

NameError: ignored

In [0]:
man = [1,2,3],[1,2,3],[1,2,3]

##국가보훈처 보훈의료 위탁병원 코로나-19 병원 정보##

보훈대상자 의료 제공 위탁병원의 코로나-19 관련 병원 운영 현황 정보 등 제공 (국민안심병원, 감염병전담기관, 감염병전담기관 외래진료 정보) (제공주기) 코로나-19 관련 병원 운영 현황 변경 시 일자별 제공 (제공방법) 공공데이터 표준 포멧(CSV 파일) 형식 제공 (제공항목) 시군구, 의료기관명, 진료과수, 병상수, 전화번호, 주소, 국민안심병원 여부, 감염병전담기관 여부, 감염병전담기관 외래진료 가능여부 * 여부는 Y/N 표시

In [5]:
data_path='/content/sample_data/covid.csv'
df2=pd.read_csv(data_path, encoding='cp949')
df2.info()

NameError: ignored

In [0]:
df3 = pd.DataFreme(man)

In [10]:
df3.index = ['a','b','c']
df3.columns = ['1차','2차','3치']
df3

NameError: ignored

In [11]:
df4 = df3[['1차','2차']]
df4

NameError: ignored

In [12]:
df3['1차']==3

NameError: ignored

In [13]:
df4=['합계'] = df3['1차']+df3['2차']
df4

SyntaxError: ignored

In [14]:
df4['합계'] = df3['1차']+df3['2차']
df4

NameError: ignored